<%= form_for [topic, post, @comment.new] do |f| %>
		<% if @comment.new.errors.any? %>
		<div class = "alert alert-danger" >
			<h4>There are <%= pluralize(@comment.errors.count, "error") %>
			</h4>
			<ul>
				<% @comment.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>	
		</div>
	<% end %>
   <%= form_group_tag(@comment.new.errors[:body]) do %>
		<%= f.label :body %>
		<%= f.text_area :body, rows:8, class: "form-control", placeholder: "Enter the comments" %>
  <% end %>
	<div class="form-group">
			<%= f.submit "Save", class: "btn btn-info" %>
	</div>
<% end %>

