


<div class="row">
  <div class="col-md-8">

  	<% if @summaries.present? %>
  	<h1><%= link_to @post.title, [@topic, @post, @summaries] %></h1>
    <% else %>
 
  <h1>

<%= @post.markdown_title %>
  </h1>
    <%= link_to "New Summaries", new_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-info' %>
    <% end %>
   
    <p>

<%= @post.markdown_body %>
  <%= render ({ partial: 'form', locals: {topic: @topic, post: @post}} , {template: 'comments/form', locals: {comment: @post.comments.new}}) %>
    </p>
  </div>
 
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

render({ partial: 'posts/post', locals: {post: post} })